<form [formGroup]="userForm">
    @if (user.editing) {
        <div>{{ user.id }}</div>
        <div><input type="text" formControlName="name"></div>
        <div><input type="text" formControlName="username"></div>
        <div><input type="text" formControlName="email"></div>
        <div><button (click)="save$.next(true)">Save</button></div>
    } @else {
        <div>{{ user.id }}</div>
        <div>{{ userForm.value.name }}</div>
        <div>{{ userForm.value.username }}</div>
        <div>{{ userForm.value.email }}</div>
        <div><button (click)="user.editing = true" [disabled]="user.editing">Edit</button></div>
    }
</form>
